*, *:after, *:before{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-family: Georgia, Cambria, Times, "Times New Roman";
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;
    background-color: #ad0600;
}
.menu{
    background-color: #333;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
}
.menu_items{
    z-index: 2;
    display: flex;
    list-style: none;
    margin-right: 50px;
}
.menu_items li{
    border-radius: 3px;
    margin: 0 5px;
    transition: all .4s linear;
}
.menu_items li:hover{
    background-color: #4a4a4a;
}
.menu_items li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: capitalize;
    color: #fff;
}
.btn_menu{
    margin-right: 30px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    display: none;
}
ul.show{
    top: 65px;
}
.menu-items ul .searchnav{
  margin: auto;
  padding: 0;
  display: flex;
}
.searchnav input[type=text] {
  float: left;
  padding: 6px;
  border-radius: 10px;
  font-size: 17px;
  border-right: 2%;
}
.searchnav input[type=button] {
  float: right;
  padding: 6px;
  border-radius: 10px;
  font-size: 17px;
  border-right: 5%;
}
.logo-cont img{
    margin-left: 30px;
    width: 1.8em;
    height: 1.8em;
}
.logo-cont .logo{
    color: #fff;
    font-size: 25px;
    padding: 0 30px;
    font-weight: bold;
}
.logo-central{
    display: flex;
    margin: 0 auto;
    height: 15%;
    width: 20%;
    padding-top: 1rem;
}
.main{
    padding-top: 3rem;
}
.pokecont {
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: 78%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
}
.pokemon-card {
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;  
}
.btninfo{
    color: #ad0600;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    font-size: 15px;
}
.img-div-grass{
    background-color: #6e7f0e;
    border-style: solid;
    border-width: 5px;
    border-color: #2E9A33;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.img-div-fire{
    background-color: #AD3432;
    border-style: solid;
    border-width: 5px;
    border-color: #C92522;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.img-div-water{
    background-color: #1A589D;
    border-style: solid;
    border-width: 5px;
    border-color: #1E2ECB;
    border-radius: 15px;    
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.img-div-bug{
    background-color: #878703;
    border-style: solid;
    border-width: 5px;
    border-color: #737309;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.img-div-fly{
    background-color: #00B4C6;
    border-style: solid;
    border-width: 5px;
    border-color: #02C8DC;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.img-div-normal{
    background-color: #A9A9A6;
    border-style: solid;
    border-width: 5px;
    border-color: #8B8B89;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.img-div-poison{
    background-color: #D56AF2;
    border-style: solid;
    border-width: 5px;
    border-color: #CC46F0;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.img-div-electric{
    background-color: #EEF26A;
    border-style: solid;
    border-width: 5px;
    border-color: #F5FA39;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.img-div-fighting{
    background-color: #901525;
    border-style: solid;
    border-width: 5px;
    border-color: #920000;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.img-div-fairy{
    background-color: #EFDBEC;
    border-style: solid;
    border-width: 5px;
    border-color: #F0D1EC;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.img-div-dark{
    background-color: darkgray;
    border-style: solid;
    border-width: 5px;
    border-color: #272527;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.img-div-dragon{
    background-color: #05C1C1;
    border-style: solid;
    border-width: 5px;
    border-color: #02A0A0;
    border-radius: 15px;  
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;  
}
.img-div-psychic{
        background-color: #F0A1A1;
        border-style: solid;
        border-width: 5px;
        border-color: #F49494;
        border-radius: 15px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.img-div-ice{
        background-color: #A7D0EA;
        border-style: solid;
        border-width: 5px;
        border-color: #9FD7FA;
        border-radius: 15px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.img-div-rock{
        background-color: #F0C39E;
        border-style: solid;
        border-width: 5px;
        border-color: #EAB07F;
        border-radius: 15px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.img-div-ghost{
        background-color: #C004C0;
        border-style: solid;
        border-width: 5px;
        border-color: #9C039C;
        border-radius: 15px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.img-div-ground{
        background-color: #F5E7CE;
        border-style: solid;
        border-width: 5px;
        border-color: #F2DFBD;
        border-radius: 15px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.img-div-steel{
    background-color: slategrey;
    border-color: steelblue;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.img-container {
  background-image: url('../assets/images/blob.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.pokemon-card p {
  margin: 5px;
}
.name {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.2rem;
}
.pagination{
    width: 90%;
    margin: 32px auto;
    display: flex;
    justify-content: center;
}
.page-i{
    background-color: #333333;
    border:1px solid #000000;
    border-radius: 10px;
    list-style: none;
    margin: 0 32px;
    padding: 10px 24px;
    transition: all 0.4s linear;
}
.page-i:hover{
    background-color: #4a4a4a;
}
.page-linker{
    color: #ffffff;
    text-decoration: none;  
}
@media (max-width: 1200px){
    .menu{
        height: 65px;
    }
    .btn_menu{
        display: flex;
    }
    .menu_items{
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background-color: #333;
        top:  -100vh;
        text-align: center;
        transition: all 0.4s;
        flex-direction: column;
    }
    .menu_items li, .menu_items div{
        margin: 20px 0 0 0;
    }
    .menu_items li:hover{
        background: none;
    }
    .menu_items li a{
        font-size: 20px;
        color:  #fff;
        font-weight: bold;
    }
    .menu_items li a:hover{
        color: #ad0600;
    }
    .logo{
        font-size: 25px;
        padding-left: 35px;
    }
    .pokecont{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        margin: 0 auto;
    }
    .pokemon-card {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;  
    }
}
@media (max-width: 952px){
    .logo{
        font-size: 30px;
        padding-left: 35px;
    }
    .pokecont{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin: 0 auto;
    }
    .menu_items li{
        margin:  0 auto;
    }
    .menu_items li a {
        font-size: 12px;
    }
    .searchnav input[type=text] {
        margin-left: 5%;
    }
    .searchnav input[type=button] {
        margin-right: 5%;
    }
    .pokecont{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin: 0 auto;
    }
}
@media (max-width:600px){
        .pokecont{
        grid-template-columns: 1fr;
        gap: 30px;
        margin: 0 auto;
    }
}
